body {
    background-color: #ffeaea !important;
}

img {
    max-height: 75px;
}


@media (min-width: 768px) {
    img {
        max-height: 100px;
    }
}

@media (min-width: 1200px) {
    img {
        max-height: 150px;
    }
}