body {
    background-color: #ffeaea !important;
}

.animal-img {
    max-height: 75px;
}

.form-control:focus, .form-select:focus {
    border-color: #ffb5f3 !important;
    box-shadow: 0 0 0 0.25rem rgb(255 183 217 / 25%) !important;
    outline: none !important; 
}

@media (min-width: 768px) {
    .animal-img {
        max-height: 100px;
    }
}

@media (min-width: 1200px) {
    .animal-img {
        max-height: 150px;
    }
}